<div class="container">
    <h1>Se connecter</h1>
    <div class="alert alert-warning" role="alert"><strong>Faites attention !</strong> Ce site internet est encore en développement, les connexions ne sont pas sécurisées.<br/>
    Soyez sûr d'être sur un réseau sécurisé tel que celui de Polytech ou de votre box internet avant d'entrer votre mot de passe.</div>
    <form>
        <div class="form-group">
            <label for="login">Identifiant</label>
            <input type="text" class="form-control" id="login" placeholder="Identifiant Polytech">
        </div>
        <div class="form-group">
            <label for="pass">Mot de passe</label>
            <input type="password" class="form-control" id="pass" placeholder="Mot de passe Polytech">
        </div>
        <button type="submit" class="btn btn-default">Se connecter</button>
    </form>
</div>