<div class="container">
    <h1>Se connecter</h1>
    <div class="alert alert-info">
        En vous connectant sur ce site, vous acceptez l'utilisation de cookies pour permettre de vous garder authentifié.
    </div>
    <form>
        <div class="form-group">
            <label for="login">Identifiant</label>
            <input type="text" class="form-control" id="login" ng-model="connect.login" placeholder="Identifiant Polytech">
        </div>
        <div class="form-group">
            <label for="pass">Mot de passe</label>
            <input type="password" class="form-control" id="pass" ng-model="connect.pass" placeholder="Mot de passe Polytech">
        </div>
        <button type="submit" ladda="connecting" class="btn btn-primary" ng-click="connect.connect()">Se connecter</button>
    </form>
</div>