<div class="container">
    <ol class="breadcrumb">
        <li><a href="/forum">Forum</a></li>
        <li>Conversations</li>
        <li class="active">{{ conv.titre }}</li>
    </ol>
    <h1>{{ conv.titre }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Détails</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mess in messs">
                <td>
                    {{ mess.auteur.image }}
                    <br />
                    <span class=".visible-xs">{{ mess.auteur.login }}</span>
                    <span class=".hidden-xs">{{ mess.auteur.nom }}</span>
                    <br/> {{ mess.auteur.section }}
                    <br/> {{ mess.auteur.role }}
                    <br/> {{ doss.date }}
                </td>
                <!-- <td btf-markdown="mess.content"></td> -->
                <td mess-edit></td>
                <td>
                    <mess-viewsource></mess-viewsource>
                    <button type="button" class="btn btn-primary" ng-show="mine(mess)" ng-click="editButton($index)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ng-hide="mess.editMode"></span>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="mess.editMode"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-show="mine(mess)" ng-click="delMess($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-show="session.membre">
                <form ng-init="mess = {content: '', editMode: true, viewSource: true}">
                    <td>
                        <label for="nvMessTitre">Nouveau message</label>
                    </td>
                    <td mess-edit></td>
                    <td>
                        <mess-viewsource></mess-viewsource>
                        <button type="submit" class="btn btn-primary" ng-class="{disabled: !mess.content}" ng-click="addMess()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <!-- <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->
</div>