<div class="container">
    <ol class="breadcrumb">
        <li><a href="/forum">Forum</a></li>
        <li>Dossiers</li>
        <li class="active">{{ doss.titre }}</li>
    </ol>
    <h1>{{ doss.titre }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Auteur</th>
                <th>Dernier message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doss in dosss">
                <td>
                    <a href="/forum/dir/{{ doss._id }}">
                        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        {{ doss.titre }}
                    </a>
                    <span class="badge" ng-hide="doss.new">{{ doss.new }}</span>
                </td>
                <td>
                    <span class=".visible-xs">{{ doss.auteur.login }}</span>
                    <span class=".hidden-xs">{{ doss.auteur.nom }}</span>
                </td>
                <td>
                    {{ doss.date }}
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-show="session.membre && implemented">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-show="doss.abonne"></span>
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-hide="doss.abonne"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-show="mine(doss)" ng-click="delDoss($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-show="session.membre">
                <form>
                    <td class="form-group">
                        <label for="nvDossTitre">Nouveau dossier</label>
                        <input type="text" class="form-control" id="nvDossTitre" placeholder="Nom du dossier" ng-model="formDoss.titre" />
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-class="{disabled: !formDoss.titre}" ng-click="addDoss()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                </form>
            </tr>
            <tr ng-repeat="conv in convs">
                <td>
                    <a href="/forum/conv/{{ conv._id }}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        {{ conv.titre }}
                    </a>
                    <span class="badge" ng-hide="conv.new">{{ conv.new }}</span>
                </td>
                <td>
                    <span class=".visible-xs">{{ conv.auteur.login }}</span>
                    <span class=".hidden-xs">{{ conv.auteur.nom }}</span>
                </td>
                <td>
                    {{ conv.date }}
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-show="session.membre && implemented">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-show="conv.abonne"></span>
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true" ng-hide="conv.abonne"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-show="mine(conv)" ng-click="delConv($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-show="session.membre">
                <form>
                    <td class="form-group">
                        <label for="nvConvTitre">Nouvelle conversation</label>
                        <input type="text" class="form-control" id="nvConvTitre" placeholder="Nom de la conversation" ng-model="formConv.titre" />
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" ng-class="{disabled: !formConv.titre}" ng-click="addConv()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <!-- <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->
</div>