<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Forum</a></li>
        <li><a href="#">Conversations</a></li>
        <li class="active">{{ conv.titre }}</li>
    </ol>
    <h1>{{ conv.titre }}</h1>
    <div class="panel panel-default" ng-repeat="mess in messs">
        <div class="panel-heading">
            {{ mess.login }}
            <button ng-if="session.canDelMess" type="button" class="btn btn-danger" ng-click="deleteMess($index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer
            </button>
        </div>
        <div class="panel-body">
            {{ mess.content }}
        </div>
    </div>
    <div class="form-group" ng-if="session.canAddMess">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Nouveau message
                </h4>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="3" ng-model="formData.content"></textarea>
                <button type="submit" class="btn btn-primary" aria-label="Ajouter" ng-click="createMess()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
                </button>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>