<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Forum</a></li>
        <li><a href="#">Dossiers</a></li>
        <li class="active">{{ dossier.name }}</li>
    </ol>
    <div class="panel panel-default" ng-repeat="conv in convs">
        <div class="panel-heading">
            <a href="/forum/conv/{{ conv._id }}">
                <h3 class="panel-title">{{ conv.titre }}</h3>
            </a>
        </div>
        <div class="panel-body">
            <!-- <strong>Date : </strong>{{ conv.date }}<br/> -->
            <button ng-if="session.canDelConv" type="button" class="btn btn-danger" ng-click="deleteConv($index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer
            </button>
        </div>
    </div>
    <div class="form-group" ng-if="session.canAddConv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <input type="text" class="form-control" placeholder="Titre" ng-model="formData.titre" />
                </h3>
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="3"></textarea>
                <button type="submit" class="btn btn-primary" aria-label="Ajouter" ng-click="createConv()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
                </button>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>