<div class="container">
    <h1>Participer à la nuit de l'info !</h1>
    <p>
        À partir d'une problématique donnée, développer une application y répondant le tout en équipe et en une nuit, c'est possible, et c'est la Nuit de l'Info !
    </p>

    <h2>À qui cela s'adresse-t-il ?</h2>
    <p>
        Tout étudiant possédant des compétences utiles pour développer une application informatique est le bienvenu ! Que tu sois programmeur à tes heures libres, que tu suive juste tes cours d'informatique, mais aussi que tu sois graphiste, comunity manager en herbe, administrateur système ou même de créateurs de musique, tu y trouveras ton compte !
    </p>
    <p>
        Ou alors, si tu as surtout envie de passer un bon moment avec les personnes de ta promo, n'hésite pas à venir aussi ! Pizza et soda vous sont offerts !
    </p>

    <h2>Où et quand cela se déroule-t-il ?</h2>
    <p>
        Cela se passe du 1 décembre à 16h40 jusqu'au 2 à 8h00, au bâtiment M5 sur Lille1.
    </p>

    <h2>J'ai d'autres questions, où puis-je trouver des informations en plus ?</h2>
    <p>
        Tu les trouvera peut-être sur <a href="http://www.nuitdelinfo.com/">le site officiel de la Nuit de l'Info</a>.<br/>
        Sinon, n'hésite pas à envoyer <a href="mailto:club.informatique@polytech-lille.net">un mail au Club Info</a> qui se fera un plaisir de te répondre !
    <p>

    <div ng-hide="session">
    <h2>Ça a l'air cool, où est-ce qu'on s'inscrit ?</h2>
    <p>
        Si tu es Polytech Lillois, connecte-toi avec ton identifiant en haut à droite de cette page ! À tout de suite !<br/>
        Si tu n'es pas Polytech Lillois (auquel cas je ne sais pas comment tu es arrivé ici), je te renvoie au <a href="http://www.nuitdelinfo.com/">site officiel de la Nuit de l'Info</a>.<br/>
        <a class="btn btn-primary" href="/connect">Se connecter pour pouvoir s'inscire !</a>
    </p>
    </div>

    <div ng-show="session">
        <h2>Je souhaite participer à la Nuit de l'Info</h2>
        <form ng-show="session.enCours">
            <p>Ça c'est cool ! On a juste deux petites questions à te poser.</p>
            <div class="form-group">
                <label for="equipe">Dans quelle équipe souhaites-tu participer ?</label><br/>
                <div ng-repeat="equipe in equipes">
                    <input type="radio" name="equipe" ng-model="ninfo.equipe" ng-value="equipe.id" ng-disabled="!equipe.ouvert">
                    {{ equipe.desc }}
                    <span ng-show="equipe.referent">
                        ({{ equipe.ouvert ? "référent :" : "contactez directement" }} <a ng-href="{{ 'mailto:' + equipe.referent[1] }}">{{ equipe.referent[0] }}</a>)
                    </span>
                    <span ng-hide="equipe.referent || !equipe.ouvert || !equipe.show">
                        (pas de référent pour le moment, proposez-vous en commentaire !)
                    </span>
                    </input>
                    <br/>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Un petit commentaire ? (facultatif)</label>
                <p>Tu pourrais nous dire quelles capacités tu possède, ou nous dire quel est ton engouement pour cette nuit de folie !</p>
                <textarea ng-model="ninfo.comment" rows="4" cols="50"></textarea>
            </div>
            <button type="submit" ladda="saving" class="btn btn-primary" ng-click="save()">Enregistrer</button>
        </form>

        <p ng-hide="session.enCours">
            Seuls les étudiants avec une année en cours peuvent participer. Vous ne pouvez donc pas vous inscrire.<br/>
            Si vous pensez que c'est une erreur, merci d'envoyer <a href="mailto:cinforma@polytech-lille.net">un mail au Club Info</a>.
        </p>

        <h2>Participants à la Nuit de l'Info</h2>
        <div ng-repeat="equipe in equipes" ng-show="equipe.show">
            <h3>{{ equipe.desc }} <span class="badge">{{ equipe.membres.length }}</span></h3>
            <div class="panel panel-default" ng-repeat="membre in equipe.membres">
                <div class="panel-heading"><strong>{{ membre.nom }}</strong> ({{ membre.section }})</div>
                <div class="panel-body" ng-show="membre.comment" style="white-space: pre-line">{{ membre.comment }}</div>
            </div>
        </div>
    </div>
    <br/>
</div>
