<div class="container">
    <h1>Participer à la nuit de l'info !</h1>
    <p>
        À partir d'une problématique donnée, développer une application y répondant le tout en équipe et en une nuit, c'est possible, et c'est la Nuit de l'Info !
    </p>

    <h2>À qui cela s'adresse-t-il ?</h2>
    <p>
        Tout étudiant possédant des compétences utiles pour développer une application informatique est le bienvenu ! Que tu sois programmeur à tes heures libres, que tu suive juste tes cours d'informatique, mais aussi que tu sois graphiste, comunity manager en herbe, administrateur système ou même de créateurs de musique, tu y trouveras ton compte !
    </p>

    <h2>Où et quand cela se déroule-t-il ?</h2>
    <p>
        Cela se passe du 3 décembre à 16h40 jusqu'au 4 à 8h02, au bâtiment M5 sur Lille1.
    </p>

    <h2>J'ai d'autres questions, où puis-je trouver des informations en plus ?</h2>
    <p>
        Tu les trouvera peut-être sur <a href="http://www.nuitdelinfo.com/">le site officiel de la Nuit de l'Info</a>.<br/>
        Sinon, n'hésite pas à envoyer <a href="mailto:cinforma@polytech-lille.net">un mail au Club Info</a> qui se fera un plaisir de te répondre !
    <p>

    <div ng-hide="session">
    <h2>Ça a l'air cool, où est-ce qu'on s'inscrit ?</h2>
    <p>
        Si tu es Polytech Lillois, connecte-toi avec ton identifiant en haut à droite de cette page ! À tout de suite !<br/>
        Si tu n'es pas Polytech Lillois (auquel cas je ne sais pas comment tu es arrivé ici), je te renvoie au <a href="http://www.nuitdelinfo.com/">site officiel de la Nuit de l'Info</a>.<br/>
        <a class="btn btn-primary" href="/connect">Se connecter pour pouvoir s'inscire !</a>
    </p>
    </div>

    <div ng-show="session">
        <h2>Je souhaite participer à la Nuit de l'Info</h2>
        <form ng-show="session.enCours && ninfo.equipe != 'ima5'">
            <p>Ça c'est cool ! On a juste deux petites questions à te poser.</p>
            <div class="form-group">
                <label for="equipe">Dans quelle équipe souhaites-tu participer ?</label><br/>
                <input type="radio" name="equipe" ng-model="ninfo.equipe" value="nope" checked> Je ne souhaite pas participer</input><br/>
                <input type="radio" name="equipe" ng-model="ninfo.equipe" value="ci"> Équipe « Informatiquement Vôtre », pour se donner au max (référent : <a href="mailto:gbontoux@polytech-lille.net">Geoffrey Preud'homme</a>)</input><br/>
                <input type="radio" name="equipe" ng-model="ninfo.equipe" value="imagis"> Équipe « 404 Brain Not Found », surtout pour passer un bon moment (référent : <a href="mailto:kle-van-@polytech-lille.net">Kevin Le-Van-Phung</a>) </input><br/>
                <input type="radio" name="equipe" ng-model="ninfo.equipe" value="gis"> Équipe des GIS, (référent : <a href="mailto:kletupe@polytech-lille.net">Kévin Letupe</a>)</input><br/>
            </div>
            <div class="form-group">
                <label for="comment">Un petit commentaire ? (facultatif)</label>
                <p>Tu pourrais nous dire quelles capacités tu possède, ou nous dire quel est ton engouement pour cette nuit de folie !</p>
                <textarea ng-model="ninfo.comment" rows="4" cols="50"></textarea>
            </div>
            <button type="submit" ladda="saving" class="btn btn-primary" ng-click="save()">Enregistrer les préférences</button>
        </form>

        <p ng-show="ninfo.equipe == 'ima5'">
            Tu es déjà inscrit dans l'équipe des IMA5 (référent : <a href="mailto:jwasilew@polytech-lille.net">Jean Wasilewski</a>) ! Enjoy ;)
        </p>

        <p ng-hide="session.enCours">
            Seuls les étudiants avec une année en cours peuvent participer. Vous ne pouvez donc pas vous inscrire.<br/>
            Si vous pensez que c'est une erreur, merci d'envoyer <a href="mailto:cinforma@polytech-lille.net">un mail au Club Info</a>.
        </p>

        <h2>Participants à la Nuit de l'Info</h2>
        <h3>Équipe Informatiquement Vôtre <span class="badge">{{ equipes.ci.length }}</span></h3>
        <div class="panel panel-default" ng-repeat="membre in equipes.ci">
            <div class="panel-heading"><strong>{{ membre.nom }}</strong> ({{ membre.section }})</div>
            <div class="panel-body" ng-show="membre.comment" ng-bind-html="membre.comment | nl2br"></div>
        </div>
        <h3>Équipe 404 Brain Not Found <span class="badge">{{ equipes.imagis.length }}</span></h3>
        <div class="panel panel-default" ng-repeat="membre in equipes.imagis">
            <div class="panel-heading"><strong>{{ membre.nom }}</strong> ({{ membre.section }})</div>
            <div class="panel-body" ng-show="membre.comment" ng-bind-html="membre.comment | nl2br"></div>
        </div>
        <h3>Équipe GIS <span class="badge">{{ equipes.gis.length }}</span></h3>
        <div class="panel panel-default" ng-repeat="membre in equipes.gis">
            <div class="panel-heading"><strong>{{ membre.nom }}</strong> ({{ membre.section }})</div>
            <div class="panel-body" ng-show="membre.comment" ng-bind-html="membre.comment | nl2br"></div>
        </div>
        <h3>Équipe IMA5 (fermée) <span class="badge">{{ equipes.ima5.length }}</span></h3>
        <div class="panel panel-default" ng-repeat="membre in equipes.ima5">
            <div class="panel-heading"><strong>{{ membre.nom }}</strong> ({{ membre.section }})</div>
            <div class="panel-body" ng-show="membre.comment" ng-bind-html="membre.comment | nl2br"></div>
        </div>
    </div>
    <br/>
</div>
