<div class="jumbotron text-center">
    <img src="img/trosh.png" alt="Logo de Trosh" />
    <br/><br/>
    <p>
        Si tu as aimé le jeu Trosh lors du dernier Afterwork du Club Info ? Tu aimerais y rejouer et exploser ton meilleur score ou celui de tes potes ? N'attends pas et télécharge-le ici !
    </p>
    <p>
        <a href="https://github.com/ClubInfoPolytechLille/trosh/releases/download/v1.1.0/Trosh.Club.Info-win32.zip" class="btn btn-primary">
            Télécharger pour Windows (32 bits)
        </a>
        <br/><br/>
        <a href="https://github.com/ClubInfoPolytechLille/trosh/releases/download/v1.1.0/Trosh.Club.Info-win64.zip" class="btn btn-primary">
            Télécharger pour Windows (64 bits)
        </a>
        <br/><br/>
        <a href="https://github.com/ClubInfoPolytechLille/trosh/releases/download/v1.1.0/Trosh.Club.Info-macosx.zip" class="btn btn-primary">
            Télécharger pour OS X
        </a>
        <br/><br/>
        <a href="https://github.com/ClubInfoPolytechLille/trosh/releases/download/v1.1.0/TroshCI-1.1.0_all.deb" class="btn btn-primary">
            Télécharger pour Debian / Ubuntu (et autres)
        </a>
        <br/><br/>
    </p>
    <p>
        <small>Trosh est un jeu crée par Maurice de <a href="http://stabyourself.net/">stabyourself.net</a> et édité par le Club Info. Si vous voulez savoir quelles ont été les modiifcations faites par le Club Info et comment elles ont été faites, rendez-vous sur le <a href="https://github.com/ClubInfoPolytechLille/trosh">code source</a>.</small>
</p>
    </button>
</div>
