html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
}

[data-notify="title"] {
    display: block;
}

#ngViewAnimationContainer {
    position: relative;
}

[ng-view].ng-enter {
    position: absolute;
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

[ng-view].ng-leave {
    position: absolute;
    -webkit-animation: fadeOutDown 0.5s;
    animation: fadeOutDown 0.5s;
}

#membre-list {
    width: 90%;
}
