html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}

.logo {
    max-width: 300px;
    margin: 25px;
    border-radius: 5px;
}

[data-notify="title"] {
    display: block;
}

[ng-repeat].ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

[ng-repeat].ng-leave {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}

[ng-if].ng-enter, [ng-show].ng-enter, [ng-hide].ng-enter {
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

[ng-if].ng-leave, [ng-show].ng-leave, [ng-hide].ng-leave {
    -webkit-animation: zoomOut 0.5s;
    animation: zoomOut 0.5s;
}

[mess-edit] .ng-enter {
    -webkit-animation: flipInY 0.5s;
    animation: flipInY 0.5s;
}

[mess-edit] .ng-leave {
    -webkit-animation: flipOutY 0.5s;
    animation: flipOutY 0.5s;
}

body > .container {
    position: relative;
}

body > .container > .ng-enter {
    position: absolute;
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

body > .container > .ng-leave {
    position: absolute;
    -webkit-animation: fadeOutDown 0.5s;
    animation: fadeOutDown 0.5s;
}

table {
    width: 90%;
}

.bureau {
    color: blue;
}