html {
    overflow-y: scroll;
}

body {
    padding-top: 70px;
}

[data-notify="title"] {
    display: block;
}

[ng-repeat].ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInLeft 0.5s;
}

[ng-repeat].ng-leave {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}

[ng-if].ng-enter {
    -webkit-animation: zoomIn 0.5s;
    animation: fadeInLeft 0.5s;
}

[ng-if].ng-leave {
    -webkit-animation: zoomOut 0.5s;
    animation: fadeOutLeft 0.5s;
}

body > .container {
    position: relative;
}

body > .container > .ng-enter {
    position: absolute;
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

body > .container > .ng-leave {
    position: absolute;
    -webkit-animation: fadeOutDown 0.5s;
    animation: fadeOutDown 0.5s;
}

table {
    width: 90%;
}

table .ng-enter {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}

table .ng-leave {
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}